<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap.min.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>

    <a href="caterpillar">
        <img src="public/img/KakaoTalk_20230728_194149176.png" alt="">
    </a>
    <br>
    <a href="changeimage">
        <img src="public/img/apple.jpeg" alt="" width="377px">
    </a>
    <br>
    <a href="gugudan">
        <img src="public/img/KakaoTalk_20230728_194431967.png" alt="">
    </a>

</body>
<script src="/jquery-3.1.0.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/javascripts/todo.js"></script> <!-- ToDo 기능 구현 내용 -->

</html>