<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/practice1.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="circle one"></div>
        <div class="circle white"></div>
        <div class="circle black"></div>
        <div class="circle two"></div>
        <div class="circle three"></div>
        <div class="circle four"></div>
        <div class="circle five"></div>
        <img class="grass" src="public/img/pngwing.com.png" width="375px" height="100px">
    </div>
    <a href="/">메인으로 이동하기</a>
    <br>
    <a href="changeimage">이미지바꾸기로 이동하기</a>
    <br>
    <a href="gugudan">구구단으로 이동하기</a>
</body>
</html>