.post-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.post-list h2 {
    color: #fff;
    background-color: #56a8ff;
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    background-color: #e3effc;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.number {
    color: #56a8ff;
    font-weight: bold;
    margin-right: 10px;
}

li h3 {
    color: #666;
}

p {
    color: #333;
}