<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form name="login">
        <div>
            <input type="text" id="id" placeholder="아이디">
        </div>
        <div>
            <input type="password" id="pw" placeholder="비밀번호">
        </div>
        <br />
        <button type="button" onclick="axiosPost()">로그인</button>
        <br />
        <div class="result"></div>
    </form>

    <script>
        function axiosPost() {
            console.log('axios post');
            const resultBox = document.querySelector('.result');
            const form = document.forms['login'];
            const data = {
                id: form.id.value,
                pw: form.pw.value,
            };

            axios({
                method: 'POST',
                url: '/axiosPractice',
                data: data,
            }).then((res) => {
                console.log('res', res);
                console.log(res.data);
                if (res.data.result) {
                    resultBox.textContent = '로그인되었습니다'
                    resultBox.style.color = 'blue';
                } else {
                    resultBox.textContent = '아이디 또는 비밀번호를 잘못 입력했습니다.'
                    resultBox.style.color = 'red';
                }
            })
        }
    </script>
</body>

</html>