.container {
    position: relative;
    width: 300px;
    height: 210px;
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    border-radius: 100%;
}

.one {
    z-index: 1;
}

.two {
    left: 65px;
    top: 40px;
    z-index: 2;
    background-color: firebrick;
}

.three {            
    left: 110px;
    top: 90px;
    z-index: 3;
    background-color: forestgreen;
}

.four {
    left: 160px;
    top: 90px;
    z-index: 4;
    background-color: fuchsia;
}

.five {
    left: 230px;
    top: 90px;
    z-index: 6;
    background-color: gainsboro;
}

.grass {
    position: absolute;
    z-index: 5;
    bottom: 0;
}

.white {
    background-color: floralwhite;
    width: 35px;
    height: 35px;
    left: 25px;
    top: 25px;
    z-index: 7;
}

.black {
    background-color: black;
    width: 20px;
    height: 20px;
    left: 25px;
    top: 30px;
    z-index: 8;
}