<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>

    </ul>
    <form id="chat">
        <input type="text" id="name" placeholder="이름" /><br />
        <input type="text" id="message" placeholder="채팅내용" /><br />
        <button>채팅</button>
    </form>

    <script>
        const socket = new WebSocket("ws://localhost:8000");
        // form 가져오기
        const chatForm = document.querySelector('#chat');
        // ul 가져오기
        const ul = document.querySelector('ul');

        // 서버에 연결 요청
        socket.addEventListener('open', (event) => {
            // send() 함수는 백엔느로 메세지를 전송
            socket.send(JSON.stringify({ user: 'client', message: 'Hello, Server' }));
            console.log("서버에 연결되었습니다.");
        });

        // 메세지 이벤트
        socket.addEventListener("message", (event) => {
            // console.log(event);
            // console.log(`서버로부터 받은 메시지: ${event.data}`);
            const li = document.createElement('li');
            li.textContent = event.data;
            ul.appendChild(li);
        });

        // 오류 이벤트
        socket.addEventListener("error", (event) => {
            console.error("오류가 발생했습니다:", event.error);
        });

        // 종료 이벤트
        socket.addEventListener("close", (event) => {
            console.log("서버와 연결이 종료되었습니다.");
        });

        //// 폼 이벤트
        chatForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const nm = chatForm.querySelector('#name');
            const msg = chatForm.querySelector('#message');
            //서버가 모두 nodejs가 아니기때문에 서버로 보내는 데이터는 문자열 형태로 보내야함
            socket.send(JSON.stringify({ name: nm.value, message: msg.value }));
            nm.value = '';
            msg.value = '';
        });
    </script>
</body>

</html>