<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>전체 회원 리스트</h1>
    <a href="/">홈으로 이동하기</a>

    <ul>
        <% for (let i=0; i < lists.length; i++) { %>
            <li>
                <a href="/members/<%= lists[i].id %>">
                    <b>
                        <%= lists[i].name %>
                    </b>
                    <b>
                        <%= lists[i].gender %>
                    </b>
                    <b>
                        <%= lists[i].major %>
                    </b>
                </a>
            </li>
            <% } %>
    </ul>

    <form name="memberInfo">
        <div>
            <input type="text" id="name" placeholder="이름">
        </div>
        <div>
            <input type="text" id="gender" placeholder="성별">
        </div>
        <div>
            <input type="text" id="major" placeholder="전공">
        </div>
        <br />
        <button type="button" onclick="addInfo()">회원 정보 추가</button>
        <button type="button" onclick="modifyInfo()">회원 정보 수정</button>
        <br />
    </form>

    <script>
        async function addInfo() {
            // console.log('axios post');
            const form = document.forms['memberInfo'];
            const data = {
                name: form.name.value,
                gender: form.gender.value,
                major: form.major.value
            };

            const res = await axios({
                method: 'POST',
                url: '/members',
                data: data
            });

            console.log('res', res.data);
            window.location.reload();
        }

        async function modifyInfo() {
            // console.log('axios post');
            const form = document.forms['memberInfo'];
            const data = {
                name: form.name.value,
                gender: form.gender.value,
                major: form.major.value
            };

            const res = await axios({
                method: 'POST',
                url: '/members/edit',
                data: data
            });

            console.log('res', res.data);
            window.location.reload();
        }
    </script>

</body>

</html>